.centered{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.links {
    text-align: center;
    padding: 25px;
}
h1{
    color: black;
    text-align: center;

}
h2{
    text-align: center;
    font-style: italic;
}
h3{
    display: inline;
}
.intro{
    font-style: italic;
}
.homepage{
    border-radius: 35%;
}
p{
    font-family: sans-serif;
}
body{
    background-color: rgb(185, 185, 185);
}
.intro{
    font-style: italic;
}
ul{
    list-style: none;
}
.contacts{
    border-radius: 75%;
}
@media screen and (min-width: 480px) {
    body{
        background-color: grey;
    }
    
}
@media screen and (min-width:768px) {
    body{
        background-color: rgb(185, 185, 185);
    }
    img{
        float: left;
        width: 820px;
        height: auto;
        padding: 15px;
    }
    
}